@import url('https://fonts.googleapis.com/css?family=Roboto');

.resp_menu_bottom{
    display: block;
    padding: 10px;
    transition: 2s;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+1,b68d4c+98,e9d4b3+100 */
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top, #f3e2c7 0%, #c19e67 1%, #b68d4c 98%, #e9d4b3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3e2c7 0%,#c19e67 1%,#b68d4c 98%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3e2c7 0%,#c19e67 1%,#b68d4c 98%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */

}

.resp_menu_top{
    display: block;
    height: 30px;
    padding: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+1,b68d4c+98,e9d4b3+100 */
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top, #f3e2c7 0%, #c19e67 1%, #b68d4c 98%, #e9d4b3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3e2c7 0%,#c19e67 1%,#b68d4c 98%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3e2c7 0%,#c19e67 1%,#b68d4c 98%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}

.menu_icon{
    float: right;
    /* border:solid 1px #d5d5d5; */
    padding: 5px;
}

.menu_icon:hover{
    float: right;
    border:solid 1px #d5d5d5;
    padding: 5px;
    background: #BAA580;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.item_menu{
    height: 30px;
}

.item_menu:hover {
    background: #BAA580;
}